
<form action="/Funcionario/Adiciona" method="post">

    <label for="nome">Nome:</label>
    <input id="nome" name="funcionario.Nome" class="form-control" />
    
    <p></p>
    
    <label for="dataNascimento">Data de Nascimento: </label>
    <input id="dataNascimento" type="date" value="DataTime.now" />
    
    <p></p>
    
    <label for="cpf">CPF:</label>
    <input id="cpf" name="funcionario.Cpf" class="form-control" />

    <p></p>

    <label for="login">Login:</label>
    <input id="login" name="funcionario.Login" class="form-control" />

    <p></p>

    <label for="senha">Senha:</label>
    <input id="senha" name="funcionario.Senha" class="form-control" />


    <input type="submit" value="Cadastrar" />
</form>
