
<form action="/Pedido/Adiciona" method="post">

    <label for="descricao">Descrição:</label>
    <input id="descricao" name="pedido.descricao" class="form-control" />

    <label for="dataEntregaDesejada">Data de entrega desejada:</label>
    <input id="dataEntregaDesejada" name="pedido.dataEntregaDesejada" class="form-control" />

    <label for="imagem">Desenho do pedido:</label>
    <input type="file" id="imagem" name="pedido.imagem" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>
