
<form action="/Status/Adiciona" method="post">

    <label for="nome">Nome:</label>
    <input id="nome" name="status.Nome" class="form-control" />

    <label for="descricao">Descrição:</label>
    <input id="descricao" name="status.Descricao" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>

